header.site-header {
    padding: 16px;
    border-bottom: 1px solid #aaa;
    
    .wrapper {
        display: flex;
        justify-content: space-between;

        .site-title {
            font-weight: bold;
            font-size: 1.25rem;
        }

        .site-title,
        .page-link {
            text-decoration: none;
            color: black;
        }
    }
}

footer.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #aaa;
    
    .social-media-list {
        padding-inline-start: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 16px;

        svg {
            width: 32px;
            height: 32px;
        }
    }
}

.post {
    padding: 16px;
}